/* Index */
body {
    width: 65%;
    margin-left: 17.5%;
    background-color: #1B3C53;
    color: #E3E3E3;
}

a:hover {
    color: #FFBD44 !important;
}

/* Header */

.header {
    display: flex;
    justify-content: right;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    padding-top: 2rem;
    width: 100%;
    height: 3rem;
    gap: 2rem;
}

.header a {
    color: #E3E3E3;
    text-decoration: none;
}

#about {
    scroll-margin-top: 2.5rem;
}

/* Introduction */

.intro {
    width: 60%;
    margin-bottom: 4rem;
}

.intro h1 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 5rem;
}

.intro .cursor {
    display: inline-block;
    animation: blink 1s steps(1) infinite;
    background-color: #E3E3E3;
    margin-left: 0.5rem;
    width: 2rem;
    height: 0.75em;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.intro p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15rem;
}

/* Contact */

.terminal {
    display: flex;
    flex-direction: column;
    background-color: #456882;
    height: 40rem;
    width: 100%;
}

.terminal-bar {
    background-color: #234C6A;
    height: 2.75rem;
    width: 100%;
}

.terminal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 0.75rem;
    height: 2.75rem;
    width: 100%;
    gap: 0.75rem;
}

.terminal-bar .button {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.terminal-bar .button.red {
    background-color: #FF605C;
}

.terminal-bar .button.yellow {
    background-color: #FFBD44;
}

.terminal-bar .button.green {
    background-color: #00CA4E;
}

.terminal p {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

.CLI-command {
    padding: 2rem;
    padding-bottom: 0;
}

.CLI-command .cursor {
    display: inline-block;
    animation: blink 1s steps(1) infinite;
    background-color: #E3E3E3;
    width: 0.7rem;
    height: 1.15em;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.CLI-command a {
    color: #00FFFF;
    text-decoration: none;
}

/* Projects */

.project-title {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.project-card {
    display: flex;
    margin-bottom: 3rem;
}

.project-img {
    height: 25rem;
    width: 35rem;
}

.project-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-intro {
    background-color: #456882;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    width: 50rem;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 3rem;
}

.project-intro a {
    color: #00FFFF;
    text-decoration: none;
}

.project-skills {
    display: flex;
    gap: 1rem;
}

.project-skills h4 {
    border: 0.1rem solid #234C6A;
    border-radius: 5%;
    padding: 0.3rem;
}

.project-links {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #456882;
    color: #E3E3E3;
    border: 0.1rem solid #234C6A;
    border-radius: 3%;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    width: 8.35rem;
    gap: 0.5rem;
}

.project-links p {
    margin: 0;
}

.project-links img {
    height: 1.5rem;
}

/* Footer */

.footer {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    height: 3.25rem;
    margin: 0;
}
