/* ------------------------------------ */
/* 320px mobile */
/* ------------------------------------ */

/* Index */
body {
    background-color: #1B3C53;
    color: #E3E3E3;
    font-family: "IBM Plex Sans", sans-serif;
    width: 90%;
    margin-left: 5%;
}

a:hover {
    color: #00FFFF !important;
}

/* Header */

.header {
    display: flex;
    justify-content: right;
    font-size: 2.44rem;
    padding-top: 1.5rem;
    width: 100%;
    height: 3rem;
    gap: 2rem;
}

.header a {
    color: #E3E3E3;
    text-decoration: none;
}

#about {
    scroll-margin-top: 2.5rem;
}

/* Introduction */

.intro {
    width: 100%;
    margin-bottom: 4rem;
}

.intro h1 {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-size: 6.7rem;
}

.intro-line {
    display: flex;
    gap: 0.5em;
}

.intro .cursor {
    animation: blink 1s steps(1) infinite;
    background-color: #E3E3E3;
    display: inline-block;
    width: 2.75rem;
    height: 0.75em;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.intro p {
    font-size: 2.44rem;
}

/* Contact */

.terminal {
    background-color: #456882;
    display: flex;
    flex-direction: column;
    height: 76rem;
    width: 100%;
}

.terminal-bar {
    background-color: #234C6A;
    height: 4rem;
    width: 100%;
}

.terminal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 1rem;
    height: 4rem;
    width: 100%;
    gap: 1rem;
}

.terminal-bar .button.red {
    background-color: #FF605C;
}

.terminal-bar .button.yellow {
    background-color: #FFBD44;
}

.terminal-bar .button.green {
    background-color: #00CA4E;
}

.terminal-bar .button {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.terminal p {
    font-family: "Fira Code", monospace;
    font-size: 2.44rem;
    margin: 0;
}

.CLI-command {
    padding: 2rem;
    padding-bottom: 0;
}

.CLI-command a {
    color: #FFD966;
    text-decoration: none;
}

.CLI-command .cursor {
    animation: blink 1s steps(1) infinite;
    background-color: #E3E3E3;
    display: inline-block;
    width: 1.5rem;
    height: 1.15em;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Projects */

.project-title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.project-title h2 {
    font-family: "Fira Code", monospace;
    font-size: 5rem;
    font-weight: 400;
    margin: 0.5rem;
}

.project-title hr {
    background-color: #E3E3E3;
    margin-top: 0;
    width: 7%;
    height: 0.2rem;
}

.project-card {
    display: flex;
    margin-bottom: 3rem;
    height: 55rem;
}

.project-img {
    height: 100%;
    width: 58rem;
}

.project-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-intro {
    background-color: #456882;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50rem;
    padding: 2rem;
    padding-left: 3.3rem;
    padding-right: 3.3rem;
    gap: 2.5rem;
}

.project-intro h3 {
    font-family: "Fira Code", monospace;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

.project-intro p {
    font-size: 2.44rem;
    margin: 0;
}

.project-intro p a {
    text-decoration: none;
    color: #FFD966;
}

.project-skills {
    display: flex;
    gap: 1rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill img {
    width: 6rem;
}

.skill h4 {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: 400;
}

/* Footer */

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.44rem;
    margin-bottom: 2rem;
    height: 3rem;
}

/* ------------------------------------ */
/* RESPONSIVE DESIGN */
/* ------------------------------------ */

@media (min-width:768px) {
    /* Medium screens */
    /* Index */
    body {
        width: 80%;
        margin-left: 10%;
    }
    
    /* Header */
    
    .header {
        font-size: 1.5rem;
    }

    /* Introduction */

    .intro h1 {
        font-size: 5rem;
    }

    .intro .cursor {
        width: 2rem;
    }

    .intro p {
        font-size: 1.5rem;
    }

    /* Contact */

    .terminal {
        height: 45rem;
    }

    .terminal-bar {
        height: 3.5rem;
    }

    .terminal-buttons {
        height: 3.5rem;
    }

    .terminal-bar .button {
        height: 1.5rem;
        width: 1.5rem;
    }

    .terminal p {
        font-size: 1.2rem;
    }

    .CLI-command .cursor {
        width: 0.75rem;
    }

    /* Projects */
    .project-title h2 {
        font-size: 3rem;
    }

    .project-card {
        height: 30rem;
    }

    .project-img {
        height: 100%;
        width: 40rem;
    }

    .project-intro h3 {
        font-size: 2rem;
    }

    .project-intro p {
        font-size: 1.5rem;
    }

    .skill img {
        width: 4rem;
    }

    .skill h4 {
        font-size: 1.5rem;
    }

    /* Footer */
    .footer {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
   
}

@media (min-width:992px) {
    /* Large screen */
    /* Index */
    body {
        width: 75%;
        margin-left: 12.5%;
    }
    
    /* Header */
    
    .header {
        font-size: 1.25rem;
    }

    /* Introduction */

    .intro h1 {
        font-size: 4.5rem;
    }

    .intro .cursor {
        width: 1.75rem;
    }

    .intro p {
        font-size: 1.25rem;
    }

    /* Contact */

    .terminal {
        height: 38rem;
    }

    .terminal-bar {
        height: 3rem;
    }

    .terminal-buttons {
        height: 3rem;
    }

    .terminal-bar .button {
        height: 1.25rem;
        width: 1.25rem;
    }

    .terminal p {
        font-size: 1rem;
    }

    .CLI-command .cursor {
        width: 0.65rem;
    }

    /* Projects */
    .project-title h2 {
        font-size: 2.5rem;
    }

    .project-card {
        height: 25rem;
    }

    .project-intro h3 {
        font-size: 1.75rem;
    }

    .project-intro p {
        font-size: 1.25rem;
    }

    .skill img {
        width: 3rem;
    }

    .skill h4 {
        font-size: 1.25rem;
    }

    /* Footer */
    .footer {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
    }

}

@media (min-width:1200px) {
    /* Extra large screen */
    /* Index */
    body {
        width: 75%;
        margin-left: 12.5%;
    }

    /* Introduction */

    .intro h1 {
        font-size: 5rem;
    }

    .intro .cursor {
        width: 2rem;
    }

    .intro p {
        font-size: 1.5rem;
    }

    /* Contact */

    .terminal {
        height: 42rem;
    }

    .terminal-bar .button {
        height: 1.25rem;
        width: 1.25rem;
    }

    .terminal p {
        font-size: 1.25rem;
    }

    .CLI-command .cursor {
        width: 0.75rem;
    }

    /* Projects */
    .project-title h2 {
        font-size: 2.75rem;
    }

    .project-card {
        height: 27rem;
    }

    .project-intro h3 {
        font-size: 2rem;
    }

    .project-intro p {
        font-size: 1.5rem;
    }

}

@media (min-width:1440px) {
    /* Extra extra large screen */
    /* Index */
    body {
        width: 75%;
        margin-left: 12.5%;
    }
    
    /* Header */
    
    .header {
        font-size: 1.5rem;
    }

    #about {
        scroll-margin-top: 1.25rem;
    }

    /* Introduction */

    .intro h1 {
        font-size: 5rem;
    }

    .intro .cursor {
        width: 2.25rem;
    }

    .intro p {
        font-size: 1.5rem;
    }

    /* Contact */

    .terminal {
        height: 43rem;
    }

    .terminal-bar {
        height: 3rem;
    }

    .terminal-buttons {
        height: 3rem;
    }

    .terminal-bar .button {
        height: 1.25rem;
        width: 1.25rem;
    }

    .terminal p {
        font-size: 1.25rem;
    }

    .CLI-command .cursor {
        width: 0.75rem;
    }

    /* Projects */
    .project-img {
        width: 30rem;
    }

    .project-title h2 {
        font-size: 3rem;
    }

    .project-intro h3 {
        font-size: 2.5rem;
    }

    .project-intro p {
        font-size: 1.25rem;
    }

    .skill img {
        width: 3rem;
    }

    .skill h4 {
        font-size: 1.25rem;
    }

    /* Footer */
    .footer {
        font-size: 1.5rem;
    }

}
